<!DOCTYPE html>
<html>
<head>
<title>{{ message.getSubject() }}</title>
</head>
<body>

<p>Welcome <strong>{{ name }}</strong>,</p>

<p>You account has been activated.</p>

{% if custom_message %}
<p>{{ custom_message }}</p>
{% endif %}

<p>For your reference, here are your account details:</p>

<p>Username <strong>{{ user.email }}</strong></p>
<p>Password: (set upon registration)</p>

<p>
    Website address:<br/>
    <a href="{{ site_url }}">{{ site_url }}</a>
</p>

<p>
    Should you forgot your password, you may reset it by visiting the following link:<br/>
    <a href="{{ url_forgot_password }}">{{ url_forgot_password }}</a>
</p>

</body>
</html>
