<ol class="breadcrumb">
  <li><a href="{{ baseUrl() }}">Start</a></li>
  <li class="active">{{ translate('Password recovery') }}</li>
</ol>

<h1>{{ translate('Forgot your password?') }}</h1>

{% if complete %}

    <p>{{ translate('We\'ve sent password reset instructions to your email address.') }}</p>

    <p>{{ translate('If you don\'t receive the email within a few minutes, please check your mailbox\'s spam folder and filters.') }}</p>

{% else %}

    <p>{{ translate('Looks like one of the following happened:') }}</p>
    <ul>
      <li>{{ translate('you refreshed the password reset confirmation page') }}</li>
      <li>{{ translate('you visit this page by typing its URL directly into browser') }}</li>
    </ul>

    <p>{{
      translate('Either way there is nothing to worry about. You can safely <a href="%url%">return to main page</a>.')
      | replace({ '%url%': baseUrl('/') })
      | raw
    }} </p>

{% endif %}
