<ol class="breadcrumb">
  <li><a href="{{ baseUrl() }}">Start</a></li>
  <li class="active">{{ translate('Password recovery') }}</li>
</ol>

<h1>{{ translate('Forgot your password?') }}</h1>

<p>{{ translate('To reset your password enter your email address or username used to login to our website.') }}</p>

{{ form | raw }}
