<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ message.getSubject() }}</title>
</head>
<body>
<p>{{ translate('Dear <strong>%name%</strong>,') | replace({ '%name%': name }) | raw }}</p>

<p>{{ translate('We received a password reset request for your account at %url%.') | replace({ '%url%': serverUrl() }) }}</p>

<p>{{ translate('To reset your password, please visit the URL below:') }}</p>

<a href="{{ url_password_reset }}">{{ url_password_reset }}</a>

<p>{{ translate('The above link becomes invalid after a successful login attempt.') }}</p>

<p>{{ translate('If you did not request resetting your password, please disregard this message and your password will remain unchanged.') }}</p>

</body>
</html>
