<header style="display: block; margin-bottom: 30px;">
  <ol class="breadcrumb">
    <li><a href="{{ baseUrl('/') }}">Start</a></li>
    <li class="active">{{ translate('Users') }}</li>
  </ol>
  <h1 style="display: inline-block; margin: 0 15px 0 0;">{{ translate('Users') }}</h1>
  <a href="{{ url('maniple-user.users.create') }}{% if returnUrl %}?return_url={{ returnUrl | url_encode }}{% endif %}" class="btn btn-primary" style="vertical-align: top; margin-top: .25em">
    <i class="fa fa-plus"></i> {{ translate('Add user') }}
  </a>
</header>

<main>
  <style>
    .table > thead > tr > th {
      border-bottom-color: rgba(0, 0, 0, .15);
    }
    .table > tbody > tr > td {
      border-top-color: rgba(0, 0, 0, .15);
      vertical-align: middle;
    }
    .table td:last-child {
      text-align: right;
    }
    .table tr:hover .btn-edit {
      opacity: 1;
    }
    .btn-edit {
      display: inline-block;
      padding: .25em;
      opacity: .35;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      text-align: center;
      line-height: 32px;
    }
    .btn-edit .fa {
      vertical-align: top;
      margin-top: .1em;
    }
    .btn-edit:hover {
      background: rgba(0, 0, 0, .15);
    }

  </style>
  <table class="table">
    <thead>
    <tr>
      <th>{{ translate('Full name') }}</th>
      <th>{{ translate('Username') }}</th>
      <th>{{ translate('Roles') }}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ userFullName(user) }}</td>
        <td>{{ user.email }}</td>
        <td>
          {% for role in user.roles %}
          <span class="badge">{{ role.name }}</span>
          {% endfor %}
        </td>
        <td>
          <a href="{{ url('maniple-user.users.edit', { user_id: user.id }) }}{% if returnUrl %}?return_url={{ returnUrl | url_encode }}{% endif %}" class="btn-edit" title="{{ translate('Edit') }}">
            <i class="fa fa-pencil"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

<footer>
  {% set pages = users.getPages() %}
  {% if pages.pageCount > 1 %}
    <div class="text-center">
      <ul class="pagination">
        {% if pages.firstPageInRange > 1 %}
        <li>
          <a href="{{ url('maniple-user.users.index') }}?q={{ query | url_encode }}&page=1" aria-label="First">
            1
          </a>
        </li>
        <li><a>...</a></li>
        {% endif %}

        {% for page in pages.pagesInRange %}
          <li {%- if page == pages.current %} class="active"{% endif %}>
            <a href="{{ url('maniple-user.users.index') }}?q={{ query | url_encode }}&page={{ page }}">{{ page }}</a>
          </li>
        {% endfor %}

        {% if pages.lastPageInRange < pages.last %}
        <li><a>...</a></li>
        <li>
          <a href="{{ url('maniple-user.users.index') }}?q={{ query | url_encode }}&page={{ pages.pageCount }}" aria-label="">
            {{ pages.pageCount }}
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
</footer>

