<header style="display: block; margin-bottom: 48px">
  <ol class="breadcrumb" style="margin-bottom: 32px">
    <li><a href="{{ baseUrl('/') }}">Start</a></li>
    <li class="active">{{ translate('Users') }}</li>
  </ol>
  <div style="display: flex; flex-wrap: wrap; gap: 16px; align-items: center; justify-content: space-between">
    <h1 style="margin: 0 16px 0 0;">{{ translate('Users') }}</h1>
    <div style="display: flex; flex-wrap: wrap; align-items: center; gap: 16px;">
      <div style="flex: 1 1 auto; min-width: 0">
        <input
          type="text"
          name="user_search"
          placeholder="{{ translate('Enter name, email address or username...') }}"
          aria-label="{{ translate('Search users') }}"
          class="form-control"
          style="height: auto; min-width: 280px; padding: 7px 32px 7px 8px; border: 2px solid"
        />
      </div>
      <a href="{{ url('maniple-user.users.create') }}{% if returnUrl %}?return_url={{ returnUrl | url_encode }}{% endif %}" class="btn btn-primary">
        <i class="fa fa-plus"></i> {{ translate('Add user') }}
      </a>
    </div>
  </div>
</header>

<style>
  .tt-hint {
    color: #999
  }
  .tt-menu {
    width: fit-content;
    margin-top: 0;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
  }
  .tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
    cursor: pointer;
  }
  .tt-suggestion.tt-cursor, .tt-suggestion:hover {
    color: #fff;
    background-color: #0097cf;
  }
  .tt-suggestion p {
    margin: 0;
  }

  .autocomplete-wrapper {
    position: relative;
    width: 100%;
  }
  .autocomplete-wrapper > .twitter-typeahead {
    display: block !important;
  }
  .autocomplete-wrapper + .form-control-feedback {
    display: none;
  }
  .autocomplete-indicator {
    position: absolute;
    top: 8px;
    right: 10px;

    width: 20px;
    height: 20px;
    text-align: center;
    display: block;
    line-height: 18px;
    font-size: 18px;
  }
  .autocomplete-indicator:before {
    content: '\f002';
    font-family: 'FontAwesome';
  }
  .autocomplete-indicator.loading {
    animation: fa-spin 2s infinite linear;
  }
  .autocomplete-indicator.loading::before {
    content: '\f1ce';
  }
</style>
<script src="{{ baseUrl('bower_components/typeahead.js/dist/typeahead.jquery.js') }}"></script>
<script>
  (function (fn) {
    typeof require === 'function' ? require(['jquery', 'typeahead.js'], fn) : fn(jQuery);
  })(function ($) {
    $(function () {
      var userSearchInput = $('[name="user_search"]');

      var input = userSearchInput.wrap('<div class="autocomplete-wrapper" />');
      var indicator = $('<span class="autocomplete-indicator" />').insertAfter(input);

      input.attr('class', userSearchInput.attr('class'));
      input.attr('placeholder', userSearchInput.attr('placeholder'));
      input.attr('autocomplete', Math.random());

      input.keydown(function (e) {
        if (e.keyCode === 13) {
          return false;
        }
      });

      function renderUser(user) {
        return App.escape(user.first_name + ' ' + user.last_name + (user.email ? ' (' + user.email + ')' : ''));
      }

      var sourceTimeout;
      function source(query, _, resolve) {
        clearTimeout(sourceTimeout);
        sourceTimeout = setTimeout(function () {
          indicator.addClass('loading');

          $.get('{{ url('maniple-user.users.search') }}', { query: query })
            .done(function (result) {
              resolve(result.items.slice(0, 5));
            })
            .complete(function () {
              indicator.removeClass('loading');
            });
        }, 350);
      }

      input.typeahead({
        async: true,
        minLength: 3
      }, {
        limit: Infinity, // https://github.com/twitter/typeahead.js/issues/1232
        source: source,
        display: renderUser,
        templates: {
          suggestion: function (item) {
            return $('<div/>').html(renderUser(item));
          }
        }
      }).on('typeahead:select', function (event, item) {
        document.location.href = '{{ urlTemplate('maniple-user.users.edit') }}'.replace(/:user_id/, item.id);
      });
    });
  });
</script>


<main>
  <style>
    .table > thead > tr > th {
      border-bottom-color: rgba(0, 0, 0, .15);
    }
    .table > tbody > tr > td {
      border-top-color: rgba(0, 0, 0, .15);
      vertical-align: middle;
    }
    .table td:last-child {
      text-align: right;
    }
    .table tr:hover .btn-edit {
      opacity: 1;
    }
    .btn-edit {
      display: inline-block;
      padding: .25em;
      opacity: .35;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      text-align: center;
      line-height: 32px;
    }
    .btn-edit .fa {
      vertical-align: top;
      margin-top: .1em;
    }
    .btn-edit:hover {
      background: rgba(0, 0, 0, .15);
    }

  </style>
  <table class="table">
    <thead>
    <tr>
      <th>{{ translate('Full name') }}</th>
      <th>{{ translate('Username') }}</th>
      <th>{{ translate('Email') }}</th>
      <th>{{ translate('Roles') }}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>
          <div data-user-id="{{ user.id }}">{{ userFullName(user) }}</div>
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          {% for role in user.roles %}
          <span class="badge">{{ role.name }}</span>
          {% endfor %}
        </td>
        <td>
          <a href="{{ url('maniple-user.users.edit', { user_id: user.id }) }}{% if returnUrl %}?return_url={{ returnUrl | url_encode }}{% endif %}" class="btn-edit" title="{{ translate('Edit') }}">
            <i class="fa fa-pencil"></i>
          </a>
          {% if userIsAllowed('impersonate') %}
          <a href="{{ url('user.auth.impersonate', { user_id: user.id }) }}" class="btn-edit" title="{{ translate('Impersonate') }}">
            <i class="fa fa-id-card"></i>
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>

<footer>
  {% set pages = users.getPages() %}
  {% if pages.pageCount > 1 %}
    <div class="text-center">
      <ul class="pagination">
        {% if pages.firstPageInRange > 1 %}
        <li>
          <a href="{{ url('maniple-user.users.index') }}?q={{ query | url_encode }}&page=1" aria-label="First">
            1
          </a>
        </li>
        <li><a>...</a></li>
        {% endif %}

        {% for page in pages.pagesInRange %}
          <li {%- if page == pages.current %} class="active"{% endif %}>
            <a href="{{ url('maniple-user.users.index') }}?q={{ query | url_encode }}&page={{ page }}">{{ page }}</a>
          </li>
        {% endfor %}

        {% if pages.lastPageInRange < pages.last %}
        <li><a>...</a></li>
        <li>
          <a href="{{ url('maniple-user.users.index') }}?q={{ query | url_encode }}&page={{ pages.pageCount }}" aria-label="">
            {{ pages.pageCount }}
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
</footer>

